@import "../../styles/extendstyle";

.content{
  position: relative;
  & > svg{
    position: absolute;
    top: -11px;
    left: 73px;
  }
  & path{
    box-shadow: 64px 76px 124px rgba(143, 102, 31, 0.1), 15px 15px 20px rgba(143, 102, 31, 0.04), inset 6px 9px 6px rgba(255, 255, 255, 0.34);
  }
}

.vector1Wrapper{
  position: relative;
  overflow: hidden;
  transform: scale(1);
}

.circle{
  position: absolute;
  width: 800px;
  height: 800px;
  border-radius: 999px;
  background-color: transparent;
  bottom: -434px;
  left: -303px;
  animation: 2s circle ease-in-out;
  transition: all 1s ease-in-out;
  &.infinity{
    animation-iteration-count: infinite;
    animation-name: circleBoth;
    animation-duration: 3s;
  }
  &.animationNone{
    animation: none;
  }
  &[playanimation='running']{
    animation-play-state: running;
  }
  &[playanimation='paused']{
    animation-play-state: paused;
  }
}

@keyframes circle {
  0%{
    box-shadow: inset 0px 0px 0px 230px $whisky-sour-200;
  }
  100%{
    box-shadow: inset 0px 0px 0px 0px $whisky-sour-200;
  }
}

@keyframes circleBoth {
  0%{
    box-shadow: inset 0px 0px 0px 230px $whisky-sour-200;
  }
  50%{
    box-shadow: inset 0px 0px 0px 0px $whisky-sour-200;
  }
  100%{
    box-shadow: inset 0px 0px 0px 230px $whisky-sour-200;
  }
}