@import "./nullstyle";
@import "./fonts";
@import "./extendstyle";

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*{
  cursor: none !important;
}

body{
  background-color: $whisky-sour-200;
  color: $black-900;
  margin-top: 108px;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
}

p{
  margin: 0;
}

h1{
  @extend %h1-u;
}

h2{
  @extend %h2-u;
}

h3{
  @extend %h3-u;
}

h4{
  @extend %h4-u;
}