$blackthorn-1000: #1A1633;
$blackthorn-900: #352D66;
$blackthorn-800: #4F4399;
$blackthorn-700: #6A5ACC;
$blackthorn-600: #8470FF;
$blackthorn-300: #CEC6FF;

$black-900: #111827;
$black-600: #4B5563;
$black-400: #9CA3AF;

$white-1000: #FFFFFF;

$whisky-sour-600: #EEAA33;
$whisky-sour-500: #F1BB5C;
$whisky-sour-300: #F8DDAD;
$whisky-sour-200: #FCEED6;

$energy-yellow-400: #F9E797;

$border-radius-btn-t-m: 20px;
$border-radius-btn-t-l: 44px;
$border-radius-btn-i: 999px;

$width-container-l: 1712px;
$width-container-m: 1282px;
$width-container-s: 856px;

$mobileWidth: 480px;
$tabletWidth: 1024px;
$desktopWidth: 1440px;
$desktopXLWidth: 1920px;