@font-face {
  font-family: "Righteous-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("../assets/fonts/Righteous/Righteous-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "Balsamiq-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("../assets/fonts/Balsamiq_Sans/BalsamiqSans-Regular.ttf") format('truetype');
}