@import "../../styles/extendstyle";

.wrapper{
  width: 100%;
  position: relative;
  height: 88px;
  background-color: transparent;

  &::after{
    position: absolute;
    top: 0;
    left: -20px;
    content: "";
    display: block;
    width: 120%;
    height: 88px;
    z-index: -1;
    transform: rotate(-1deg);
    background-color: $whisky-sour-300;
  }
}

.line{
  position: absolute;
  top: 0;
  left: -20px;
  width: 120% !important;
  z-index: 1;
  user-select: none;
  background-color: $whisky-sour-600;
  @extend %h4-u;
  color: $white-1000;
  transform: rotate(3deg);
  padding: 20px 40px;
  @media (max-width: $mobileWidth) {
    font-size: 24px !important;
  }
}