@import "../../styles/extendstyle";

.header{
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
  padding: 24px 0;
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(16px);
}

.container{
  @extend %container;
  @include flex(flex, row nowrap, space-between, center);
}

.links{
  @include flex(flex, row nowrap, center, center);
  & > * {
    margin-right: 64px;
  }
  & > *:last-child {
    margin-right: 0;
  }
  @media (max-width: $tabletWidth) {
    flex-flow: column nowrap;
    align-items: flex-start;
    margin-bottom: 32px;
    width: 100%;
    & > *{
      margin-right: 0;
      margin-bottom: 16px;
    }
    & > *:last-child {
      margin-bottom: 0;
    }
  }
}

.forUser{
  @include flex(flex, row nowrap, center, center);
  & > *:first-child{
    margin-right: 32px;
  }
}

.dropdownMenuWrapper{
  position: relative;
  & path{
    fill: $white-1000;
  }
}

.dropdownMenu{
  position: absolute;
  right: 0;
  top: 60px;
  padding: 40px;
  background-color: $white-1000;
  border-radius: 32px;
  width: 450px;
  @include flex(flex, column, flex-start, center);
  z-index: -1;
  transform: translateX(100px);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  @media (max-width: $mobileWidth) {
    width: calc(100vw - 32px);
  }
}

.dropdownMenuEnterDone{
  transform: translateX(0);
  opacity: 1;
}

.dropdownMenuExit{
  transform: translateX(100px);
  opacity: 0;
}

.address{
  @extend %b-24;
  color: $black-900;
  user-select: none;
}