@import "../../../styles/extendstyle";

.item{
  min-width: 400px;
  height: 400px;
  margin: 0 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 20px;
}