@import "../../styles/extendstyle";

.container{
  position: relative;
  @extend %container;
  padding: 0;
  height: calc(100vh - 120px);
  @include flex(flex, column, center, start)
}

.wrapper{
  width: 100%;
  overflow: hidden;
  &ForDrop{
    @include flex(flex, column, center, center);
  }
  h3 {
    margin-bottom: 24px;
    text-align: center;
    span{
      color: $whisky-sour-600;
    }
  }
  p{
    @extend %b-32;
    margin-bottom: 24px;
  }
  @media (max-width: 560px) {
    h3 {
      font-size: 42px;
      margin-bottom: 16px;
    }
    p{
      font-size: 22px;
    }
  }
}

.items{
  @include flex(flex, row nowrap, flex-start, center);
  transition: transform 10s cubic-bezier(0.23, 0.78, 0.29, 1);
  &ForDrop{
    transition: none;
  }
}

.img{
  transition: all 1s ease-in-out;
  border-radius: 20px;
  &.drop{
    width: 100%;
    max-width: 400px;
    max-height: 400px;
    height: auto !important;
    margin: 0 16px !important;
  }
}

.bg{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 700px;
  transform: translate(-50%, -50%);
  background-color: $energy-yellow-400;
  border-radius: 222px;
  z-index: -1;
  transition: all 1s ease-in-out;
  &ForDrop{
    top: 52%;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 140%;
    max-width: 652px;
    height: 306px !important;
  }
}

.overlay{
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, #FCEED6 0%, rgba(252, 238, 214, 0) 33.52%, rgba(252, 238, 214, 0) 50.19%, rgba(252, 238, 214, 0) 66.86%, #FCEED6 100%);
  @media (max-width: $mobileWidth) {
    display: none;
  }
}