@import "../../styles/extendstyle";

.countMinted{
  position: relative;
  @include flex(flex, row nowrap, flex-start, start);
  flex-grow: 1;
}

.img1{
  position: absolute;
  top: 40px;
  left: 0;
}

.img2{
  position: absolute;
  bottom: 0;
}

.countMintedText{
  position: absolute;
  left: 100px;
  bottom: 35px;
  @extend %h4-u;
  color: $white-1000;
  @media (max-width: $tabletWidth) {
    left: -250px;
  }
  @media (max-width: $tabletWidth) {
    left: -180px;
    bottom: 140px;
    font-size: 20px !important;
  }
}